  #b1{ background-color: rgba(120,120,120,0.6);              
        color:#111100;
        height: 10%;
        width: 100%;
        
  }  

      strong{ align-self: left;
            
          color:#777777;
          font-size: 200%;
           margin-left: 4%;
           margin-top: 3%;
             }
             .limg{  
                  margin-left: 5%;
                  margin-top: 4%;
                    color:#666666;
                   font-weight: 600;
             font-size: large;   
             text-decoration: blink;}
   